@@ -0,0 +1,11 @@


var students = ["marta","kelly", "janete", "deyse","douglas"];
var results=[];
for(var i=0;i < students.length;i +=1){
var student = students[i];
if(student[0] === 'd'){
results.push(student);
}
}
console.log(results);
